*
!*/

!.gitignore

!.env.example

!package.json
!package-lock.json
!index.html
!vite.config.ts
!tsconfig.json
!eslint.config.js
!eslint.config.mjs
!eslint.config.cjs
!src/**
!convex/*.ts
!convex/*.json
!convex/_generated/*.ts
!convex/_generated/*.js

!README.md

node_modules/
dist/
.convex/
.agents/
convex/_generated/ai/
